.container {

    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputButton,
.resetButton {
  
    width: 70px;
    height: 40px;
    background-color: aqua;
    color: brown; 
}