body {

    width: 100%;
    font-family: 'Manrope', sans-serif;
    font-weight: 700px;
    background-color: #ffffff;
}

.counter {

    margin: auto;
    width: 500px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

button {

    font-family: inherit;
    cursor: pointer;
}

.counter__addbtn,
.counter__resetbtn {

    
    width: 500px;
    height: 100px;
    background-color:#4191FF;
    border-radius: 20px;
    border-color: #4191FF;
    cursor: pointer;
    color: #ffffff;
    font-size: 32px;
    line-height: 43.71px;
}

.counter__resetbtn {

    background-color: #D45366;
    border-color: #D45366;
}

.counter__addbtn:hover,
.counter__resetbtn:hover {

    opacity: 0.5; 
}

.counter__value {

    text-align: center;
    font-size: 32px;
    line-height: 43.71px;
}


